@import '@/styles/variables.scss';

.navbar {
  border-bottom: 1px solid $gray-60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 360px;
  width: 75%;
  max-width: 1076px;
  padding: 14px 0;
}

.logo {
  color: $green-30;
}
