@import '@/styles/mixins.scss';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 60px;

  @include tablet-horizontal-detail-page {
    gap: 60px;
  }
}
