@import '@/styles/mixins.scss';

.container {
  width: 1128px;
  display: flex;
  gap: 64px;

  @include tablet-horizontal-detail-page {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}
