// Gray Color Palette
$gray-5: #f3f3f9;
$gray-10: #e8e8f5;
$gray-20: #bcbccf;
$gray-30: #9494a2;
$gray-40: #6b6b79;
$gray-50: #555560;
$gray-60: #42424b;
$gray-70: #313137;
$gray-80: #27272e;
$gray-90: #1c1c1f;
$gray-95: #18181b;

// Green Color Palette
$green-5: #f4fef4;
$green-10: #e3fce3;
$green-20: #a8fda7;
$green-30: #72ff70;
$green-40: #54f451;
$green-50: #21eb1e;
$green-60: #1eca1c;
$green-70: #19aa17;
$green-80: #0e8c0c;
$green-90: #0e6d0c;
$green-95: #073f06;
