@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.modal-container {
  display: flex;
  overflow: hidden;
  width: 332px;
  height: fit-content;
  border-radius: 8px;
  padding: 24px 24px 30px 24px;
  gap: 36px;

  background-color: $gray-95;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  border: none;
  flex-direction: column;
  color: white;

  @include mobile-detail-page {
    width: 280px;
  }
}

.modal-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.title {
  font-family: var(--font-pretendard-semi-bold);
  font-size: 24px;
  line-height: 28.8px;
}

.close {
  padding: 10px;
  cursor: pointer;
}

.description {
  font-family: var(--font-pretendard-semi-bold);
  font-size: 16px;
  line-height: 19.2px;
  color: #e8e8f5;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.label {
  font-family: var(--font-pretendard-semi-bold);
  font-size: 16px;
  line-height: 19.2px;
  color: #bcbccf;
}

.input {
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  background-color: $gray-80;
  font-family: var(--font-pretendard-regular);
  font-size: 18px;
  line-height: 21.6px;

  outline: none;
  border: none;

  color: white;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.button-disabled {
  width: 125px;
  height: 40px;
  border-radius: 4px;
  padding: 10px 8px 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-60;

  font-family: var(--font-pretendard-semi-bold);
  font-size: 14px;
  line-height: 16.8px;
  color: $gray-50;

  outline: none;
  border: none;
}

.button-enabled {
  width: 125px;
  height: 40px;
  border-radius: 4px;
  padding: 10px 8px 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-50;

  font-family: var(--font-pretendard-semi-bold);
  font-size: 14px;
  line-height: 16.8px;
  color: white;

  outline: none;
  border: none;

  cursor: pointer;
}
