@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.list {
  background-image: url('/assets/images/gb-thumbnail.png');
  background-size: cover;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  height: 252px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  justify-content: space-between;

  @include mobile-detail-page {
    width: 280px;
  }
}

.badge-wrap {
  display: flex;
  gap: 6px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 12px;
}

.price {
  display: flex;
  gap: 4px;
}

.value {
  font-family: var(--font-gmarket-sans-bold);
  font-size: 20px;
  line-height: 28px;
  color: $green-50;
}

.currency {
  font-size: 18px;
  line-height: 33.6px;
}

.date {
  font-family: var(--font-pretendard-semi-bold);
  font-size: 12px;
  line-height: 14.4px;
}
