@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.item {
  background-size: cover;
  padding: 20px;
  border-radius: 12px;
  height: 252px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  justify-content: space-between;

  box-sizing: border-box;
  overflow: hidden;

  @include tablet {
    height: 240px;
  }

  @include mobile {
    height: 200px;
  }
}

.badge-wrap {
  display: flex;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 12px;
  line-height: 16.8px;
}

.price {
  display: flex;
  gap: 4px;
}

.value {
  font-size: 20px;
  font-weight: 700;
  color: $green-50;
  margin-bottom: 7px;
  margin-right: 4px;
  line-height: 28px;
}

.currency {
  font-size: 18px;
  line-height: 33.6px;
}

.date {
  font-size: 12px;
  font-weight: 600;
}
