@import '@/app/(styles)/_variables.scss';
@import '@/app/(styles)/_mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 111px;
  align-items: end;
  gap: 5px;

  .button {
    width: 79px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    .text {
      font-size: 16px;
      line-height: 19.2px;
    }

    &.is_popover {
      background-color: $clicked-button-background-color;
    }
  }

  .popover {
    width: 111px;
    height: 160px;
    border-radius: 4px;
    background-color: #1c1c1f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      cursor: pointer;
      color: #9494a2;
    }

    .is_clicked {
      color: $white;
    }
  }
}

// 모바일
@include mobile {
  .container {
    .button {
      width: 71px;
      height: 40px;

      .text {
        font-size: 14px;
        line-height: 16.8px;
      }
    }
  }
}
