.slider-container {
  // overflow: hidden; /* 내용이 넘칠 경우 숨김 */
}

.container {
  width: 584px;
  height: 520px;

  > div {
    border-radius: 16px;
  }
}

.image {
  width: 100%;
  height: 520px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
