@import '@/styles/mixins.scss';

.container {
  max-width: 584px;
  height: 520px;
  overflow: hidden; /* 내용이 넘칠 경우 숨김 */

  @include tablet-horizontal-detail-page {
    max-width: 768px;
    height: 360px;
  }

  @include tablet-vertical-detail-page {
    max-width: 100%;
    height: 360px;
  }
}

.image {
  border-radius: 16px;

  @include tablet-horizontal-detail-page {
    height: 360px;
  }

  @include tablet-vertical-detail-page {
    border-radius: none;
    height: 360px;
  }
}
