@import '@/styles/mixins.scss';

.container {
  width: 584px;
  height: 520px;

  > div {
    border-radius: 16px;
  }

  @include tablet {
    width: 100%;
    height: 360px;

    > div {
      border-radius: 0;
    }
  }

  @include mobile {
    width: 100%;
    height: 240px;

    > div {
      border-radius: 0;
    }
  }
}

.image {
  width: 100%;
  height: 520px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include tablet {
    height: 360px;
  }

  @include mobile {
    height: 240px;
  }
}
