@import '@/styles/mixins.scss';

.container {
  min-width: 1128px;
  display: flex;
  flex-direction: column;

  @include tablet-horizontal-detail-page {
    width: 768px;
    align-items: center;
  }
}
