.container {
  width: 111px;
  height: 160px;
  border-radius: 4px;
  background-color: #1c1c1f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
  }
}
