@import '@/styles/variables.scss';

.list {
  background-size: cover;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  height: 252px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.chip-wrap {
  flex: 1;
  gap: 6px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 12px;
  line-height: 16.8px;
}

.price-wrap {
  margin-bottom: 7px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: $green-50;
  margin-bottom: 7px;
  margin-right: 4px;
  line-height: 28px;
}

.unit {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.date {
  font-size: 12px;
  font-weight: 600;
}
