@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

@keyframes hoverEffect {
  0% {
    background-color: rgba(23, 23, 25, 0);
    backdrop-filter: blur(0px);
  }
  100% {
    background-color: rgba(23, 23, 25, 0.5);
    backdrop-filter: blur(4px);
  }
}

.list {
  background-size: cover;
  border-radius: 12px;
  height: 252px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  box-sizing: border-box;
  overflow: hidden;

  @include tablet {
    height: 240px;
  }

  @include mobile {
    height: 200px;
  }

  &.hover .info-wrap {
    animation: hoverEffect 0.5s forwards;
    background: linear-gradient(
      180deg,
      rgba(23, 23, 25, 0) 33.09%,
      rgba(23, 23, 25, 0.18) 53.58%,
      rgba(23, 23, 25, 0.3) 74.45%
    );
  }
}

.chip-wrap {
  padding: 20px;
  flex: 1;
  gap: 6px;
}

.info-wrap {
  padding: 20px;
  background-color: rgba(23, 23, 25, 0);
  backdrop-filter: blur(0px);
  transition: all 0.3s ease-in-out;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 12px;
  line-height: 16.8px;
}

.price-wrap {
  margin-bottom: 7px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: $green-50;
  margin-bottom: 7px;
  margin-right: 4px;
  line-height: 28px;
}

.unit {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.date {
  font-size: 12px;
  font-weight: 600;
}
