.button {
  height: 40px;
  border-radius: 4px;
  padding: 10px 8px 10px 8px;
  display: flex;
  gap: 6px;
  background-color: #555560;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.text {
  font-family: var(--font-pretendard-semi-bold);
  font-size: 14px;
  line-height: 16.8px;
}
