@import '@/styles/mixins.scss';

.container {
  width: 50%;
  height: 520px;
  font-family: var(--font-pretendard-medium);
  display: flex;
  flex-direction: column;

  @include tablet-horizontal-detail-page {
    min-width: 768px;
    height: 100%;
    padding: 0px 20px 0px 20px;
  }

  @include tablet-vertical-detail-page {
    min-width: 728px;
    height: 100%;
  }
}

.badges {
  display: flex;
  gap: 6px;
}

.texts {
  margin-top: 20px;
}

.title {
  font-size: 28px;
  line-height: 33.6px;

  @include tablet-horizontal-detail-page {
    font-size: 24px;
    line-height: 28.8px;
  }

  @include tablet-vertical-detail-page {
    font-size: 24px;
    line-height: 28.8px;
  }
}

.price {
  margin-top: 12px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.value {
  font-family: var(--font-gmarket-sans-bold);
  font-size: 40px;
  line-height: 56px;
  color: #54f451;

  @include tablet-horizontal-detail-page {
    font-size: 28px;
    line-height: 33.6px;
  }

  @include tablet-vertical-detail-page {
    font-size: 28px;
    line-height: 33.6px;
  }
}

.currency {
  font-size: 28px;
  line-height: 33.6px;

  @include tablet-horizontal-detail-page {
    font-size: 20px;
    line-height: 26px;
  }

  @include tablet-vertical-detail-page {
    font-size: 20px;
    line-height: 26px;
  }
}

.period {
  margin-top: 7px;
  font-family: var(--font-pretendard-regular);
  font-size: 18px;
  line-height: 21.6px;
}

.buttons {
  margin-top: 56px;
  display: flex;
  gap: 20px;

  @include tablet-horizontal-detail-page {
    margin-top: 40px;
  }

  @include tablet-vertical-detail-page {
    margin-top: 28px;
  }
}
