@import '@/styles/mixins.scss';

.container {
  width: 50%;
  font-family: var(--font-pretendard-medium);
  display: flex;
  flex-direction: column;

  @include tablet {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  @include mobile {
    width: 100%;
    padding: 0 20px 0 20px;
  }
}

.badges {
  display: flex;
}

.texts {
  margin-top: 20px;
}

.title {
  font-size: 28px;
  line-height: 33.6px;
}

.price {
  margin-top: 12px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.value {
  font-family: var(--font-gmarket-sans-bold);
  font-size: 40px;
  line-height: 56px;
  color: #54f451;
}

.currency {
  font-size: 28px;
  line-height: 33.6px;
}

.period {
  margin-top: 7px;
  font-family: var(--font-pretendard-regular);
  font-size: 18px;
  line-height: 21.6px;
}

.buttons {
  margin-top: 56px;
  display: flex;
  gap: 20px;
}
